body{
    margin: 0%;
    padding: 0%;
}
.container-fluid h1, a{
    position: absolute;
}
.container-fluid h1{
    color: white    ;
    font-size: 60px;
    bottom: 55%;
    right: 32%;
}
.container-fluid a{
    font-size: 30px;
    bottom: 45%;
    right: 38%;
}
.div__img{
    object-fit: cover;
}


/*
*{
    padding: 0;
    margin: 0;
}

.container{
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    color: white;
    font-size: 50px;
    display: flex;
    position: absolute;
    bottom: 55%;
    left: 43%;
}

.div__button a{
    background: linear-gradient(102deg,#4551b5 40%, #543fd7 60%);
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: .25rem;
    min-width: 200px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, .5);
    animation: pulse 1.5s infinite;
    position: absolute;
    right: 42%;
    bottom: 40%;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}
@keyframes pulse{
    0%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, .1);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(256, 256, 256, 0);
    }
    100%{
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(256, 256, 256, 0);
    }
}

@media screen and (max-width: 525px){
    .section__header{
        font-size: 30px;
    }
}
@media screen and (max-width: 450px){
    .section__header{
        font-size: 25px;
    }
}
@media screen and (max-width: 375px){
    .section__header{
        font-size: 20px;
    }
}
@media screen and (max-width: 300px){
    .section__header{
        font-size: 15px;
    }
}
@media screen and (max-width: 225px){
    .section__header{
        font-size: 10px;
    }
}
@media screen and (max-width: 150px){
    .section__header{
        font-size: 05px;
    }
}
*/