/*Inicio*/
.carousel-inner img{
    object-fit: cover;
}
.main__container{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: -5px;
    display: flex;
    align-items: center;
    overflow: hidden; 
}
.main__container:before{
    content: "";
    position: absolute;
    top: 250px;
    height: 5px;
    width: 100%;
    background: white;
}
.main__container:after{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: 250px;
    background: white;
}
.div__textos h2{
    text-align: center;
    position: absolute;
    top: 450px;
    right: 20%;
    font-size: 75px;
    color: white;
}
.div__textos p{
    position: absolute;
    top: 750px;
    right: 28%;
    font-size: 70px;
    color: white;
}
.image{
    position: relative;
    width: 100%;
}
.image__img{
    display: block;
    width: 100%;
}
.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.image__overlay--blur{
    backdrop-filter: blur(10px);
}
.image__overlay> * {
    transform: translateY(90px);
    transition: transform 0.25s;
}
.image__overlay:hover{
    opacity: 1;
}
.image__overlay:hover> * {
    transform: translateY(0);
}
.image__title{
    font-size: 100px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.image__description{
    font-size: 50px;
    margin-top: 0.25em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*@media inicio*/
@media (max-width:768px){
    .image__title{
        font-size: 50px;
    }
}
@media (max-width:500px){
    .image__title{
        font-size: 25px;
    }
    .image__description{
        font-size: 25px;
    }
}
@media (max-width:320px){
    .image__title{
        font-size: 15px;
    }
    .image__description{
        font-size: 10px;
    }
}

/*
*{
    padding: 0;
    margin: 0;
}
body{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    background: #897766;
}

.container-fluid{
    width: 100%;
    height: 100px;
    padding: 0;
    margin: 0;
}

header{
    background-color: #FDCAE1;
    color: black;
    justify-items: center;
}

.ancho{
    width: 80%;
    height: 70px;
    margin: auto;
}
.logo{
    width: 30%;
    height: 70px;
    float: left;
    padding-top: -30px;
    box-sizing: border-box;
}
.logo p a{
    color: black;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    justify-content: center;
}

nav{
    width: 70%;
    height: 70px;
    float: left;
    text-align: right;
    padding-top: 24px;
    box-sizing: border-box;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: black;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

aca resaltamos el menu navegador, cuando pase el puntero del mouse se vea en color blanco

nav ul li a:hover{
color: white;
}
/*@font-face{
    font-family: Tillana;
    src: url(../Fuentes/Tillana-Medium.ttf)
}
*/

/*
footer{
    background: #FDCAE1;
    height: auto;
    width: 100%;
    font-family: Tillana;
    padding-top: 40px;
    color: black;
    display: flex;
    display: inline-block;
}
.SocialLinks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.SocialLinks h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.Redes{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.Redes li{
    margin: 0 10px;
    display: flex;
    text-decoration: none;
    color: white;
}
.Redes li a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.Redes li a i:hover{
    color: aqua;
}
.OuterFooter{
    background: black;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.OuterFooter p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
}
.OuterFooter span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
*/
/*Productos*/
.titulo{
    display: flex;
    justify-content: center;
}

.productos-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    grid-gap: 10px;
}
.productos__main{
    background-color: #897766;
}
@media (min-width:100px){
    .productos-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width:520px){
    .productos-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width:728px){
    .productos-container{
        grid-template-columns: repeat(3, 1fr);
    }
}
.productos__item{
    position: relative;
    
}
.galeria__foto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.nombre__foto{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    width: 100%;
    margin: 0;
    padding: 10px;
}

/*Recetas*/
.receta__main{
    background-color: #897766;
}
.titulo-receta{
    display: flex;
    justify-content: center;
    transform: perspective( 0,0,0,1);
    padding-top: 10px;
}
.cupcakes_foto{
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
#procedimiento{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.item__uno{
    color: black;
    font-size: 18px;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    margin-left: 5px;
}
.dos p{

    background-size: 25%;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.uno ul li{
    position: relative;
    background-size: 20%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (max-width:728px){
    #procedimiento{
        grid-template-columns: repeat(1, 1fr);
    }
}
.img-responsive{
    width: 100%;
}
.thumbnail { 
    position: relative;
}
.caption h2{ 
    position: absolute; 
    top: 10%; 
    left: 25%;
    font-size: 25px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break:break-all;
}
.caption p{
    width: 50%;
    position: absolute; 
    top: 20%; 
    left: 10%;
    font-size: 17px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break:break-all;
}
@media (max-width:768px){
    .caption p{
        font-size: 10px;
        color: white;
    }
}
@media (max-width:550px){
    .caption h2{
        font-size: 15px;
    }
}
/*Quienes Somos
.container__quienessomos img{
    object-fit: cover;
    display: inline-block;
    position: relative;
    width: 100%;
}
.container__quienessomos h1{
    position: absolute;
    top: 20%;
    left: 40px;
}
.container__quienessomos figcaption{
    position: absolute;
    top: 30%;
    left: 40px;
    font-size: 20px;
    display: flex;
    justify-content: left;
    color: black;
    overflow: hidden;
}
form{
    margin: 100px;
}
.titulo__contacto{
    text-align: center;
}
*/
/*Contacto
.div__fondo{
    background-image: url(../Imagenes/jessica-loaiza-DHYfjAe_eeo-unsplash.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    object-fit: cover;
}
form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #FDCAE1;
    width: 700px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 5%;
}
.titulo__contacto{
    display: flex;
    justify-content: center;
    color: black;
}
input, textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton__formulario{
    background: black;
    color: white;
    border-radius: 10px;
}
#boton__formulario:hover{
    cursor: pointer;
}
.terminos{
    display: flex;
    text-align: center;
}
.genero{
    display: flex;
    text-align: center;
    letter-spacing: 1px;
}
#checkbox:hover{
    cursor: pointer;
}
#checkbox:hover{
    cursor: pointer;
}
*/
/*Contacto*/
.form__main{
    background-image: url(../Imagenes/jessica-loaiza-DHYfjAe_eeo-unsplash.jpg);
}
/*Footer*/
.container__footer{
    background: #FDCAE1;
    text-align: center;
    padding-bottom: 0%;
}
.container__subfooter{
    background: black;
    text-align: center;
    color: white;
    padding-bottom: 1px;
}
